@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Questrial&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: "Overpass", sans-serif !important;
  font-weight: 300 !important;
  letter-spacing: 0.6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgb(0, 6, 13), rgb(0, 8, 29));
  /* background-image: linear-gradient(
    to bottom,
    rgb(0, 11, 28),
    rgb(0, 20, 49),
    rgb(1, 32, 81)
    ); */

}
